---
Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-owning-memory,
  modernize-*,-modernize-use-trailing-return-type,
  performance-*,
  readability-*,-readability-identifier-length,-readability-magic-numbers,-readability-avoid-const-params-in-decls,
  portability-*
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|assets)/'
FormatStyle: file
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: readability-function-size.LineThreshold
    value: '120'
  - key: readability-function-size.StatementThreshold
    value: '200'
  - key: readability-function-size.BranchThreshold
    value: '40'
  - key: readability-function-size.ParameterThreshold
    value: '8'
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: '1'
...
